footer {
	color: #c1c1c1;
    background: #3c3c3c;
    font-size: 12px;
    padding: 50px 0 0 0;
    margin-top: 100px;
}
footer h6 {
	margin-bottom: 40px;
}
footer .footer-bottom {
    background: #272727;
    padding: 30px 0;
    margin-top: 50px;
    line-height: 14px;
}
footer .form-control {
    border: 1px solid #5b5b5b;
    background-color: transparent;
    font-size: 12px;
    -webkit-box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.3);
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.3);
}
.form-control:focus {
    border: 1px solid #cccccc;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent;
}
footer .btn-black {
    background-color: #333;
    border-color: #000;
    color: #fff;
    text-shadow: 0 -1px 0 #000;
    background: linear-gradient(to bottom, rgba(255,255,255,0.33) 0%, rgba(255,255,255,0.13) 100%);
}